header{
	display: block;
	background-color: yellow;
	height: 60px;
	padding: 10px;

}

.n{
	width: 240px;
	height: 470px;
	margin-top: 10px;
	margin-right: 0px;
	padding: 10px;
}

#a{
	width: 800px;
	height: 470px;
	
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	left: 10px;

}
footer{
	background-color: yellow;
	height: 60px;
	padding: 10px;

}

div{
	
	display: inline-block;
	background-color: yellow;
	margin: 0;
	right: 0;
	position: relative;
}

body{
	margin: 0;
	padding: 0;
}
#set{
	position: relative;
	right: -18px;
	
}