body{
	margin: 0;
	padding: 0;
}

header{
	display: block;
	background-color: #BAF60E;
	height: 60px;
	padding: 10px;
	margin-bottom: 10px;
}

footer{
	display: block;
	background-color: #BAF60E;
	height: 60px;
	padding: 10px;
	margin-top: 10px;
}

.div1{
	display: inline-block;
	height: 490px;

}

.div2{
	display: block;

}

#sec1{
	height: 405px;
	position: relative;
	left: 260px;
	width: 1106px;
	background-color: #BAF60E;


}
#sec2{
	height: 75px;
	position: relative;
	top: 10px;
	left: 260px;
	background-color: #BAF60E;

}
#navs{
	position: absolute;
	background-color: #BAF60E;
	width: 250px;
	
}