body{
	margin: 0;
	padding: 0;
	background: linear-gradient(red,black);
	font-family: 'News Cycle', sans-serif;
}

header{
	display: block;
	height: 60px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #e51010;
	background-image: url("mar.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}
img{
	width: 120px;
	height: 60px;
	position: relative;
	left: 47%;
}

footer{
	display: block;
	height: 60px;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	color: white;
	font-size: 15px;
}

.div1{
	display: inline-block;
	height: 700px;

}

.div2{
	display: block;

}

#sec1{
	height: 600px;
	position: relative;
	left: 265px;
	width: 1085px;
	background-color: white;
	overflow: scroll;
}
#sec2{
	height: 90px;
	position: relative;
	top: 10px;
	left: 265px;
	background-color: white;
	overflow: scroll;
}
#navs{
	position: absolute;
	background-color: white;
	width: 255px;
	overflow: scroll;
}

#p{

	font-size: 20px;
}
#cm{
	width: 500px;
	height: 250px;
	position: relative;
	left: 20%;
}

#al{
	position: relative;
	left: -200px;
}

.mw{
	height: 50px;
	width: 50px;
	border: 3px solid black;
	border-radius: 50%;
}

#a{
	position: relative;
	left: 515px;
}

#b{
	position: relative;
	left: 530px;
}

#c{
	position: relative;
	left: 545px;
}

#d{
	position: relative;
	left: 560px;
}

#e{
	position: relative;
	left: 575px;
}

#f{
	position: relative;
	left: 595px;
}