header{
	display: block;
	background-color: #e51010;
	background-image: url("mar.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	height: 60px;
	padding: 10px;

}
img{
	width: 120px;
	height: 60px;
	position: relative;
	left: 47%;
}

.n{
	width: 245px;
	position: relative;
	left: 0;
	top: 10px;
	height: 700px;
	padding-bottom: 20px;
	
}
.m{
	width: 245px;
	position: relative;
	padding-bottom: 20px;
	right: -10px;
	height: 700px;
	top: 10px;
	
}
#a{
	width: 815px;
	position: relative;
	left: 10px;
	top: 10px;
	padding: 10px;

}
footer{
	
	height: 60px;
	padding: 10px;
	color: white;
	text-align: center;
	font-size: 15px;

}

div{
	height: 700px;
	display: inline-block;
	background-color: white;
	margin: 0;
	right: 0;
	position: relative;
	overflow: scroll;
}

body{
	margin: 0;
	padding: 0;
}
#set{
	position: relative;
	right: -18px;
	
}
body{
	background: linear-gradient(red,black);
	font-family: 'News Cycle', sans-serif;
}


#mw{
	width: 150px;
	height: 150px;
	position: relative;
	left: 15%;
	border: 5px solid black;

}

#p{

	font-size: 20px;
}
#cm{
	width: 500px;
	height: 250px;
	position: relative;
	left: 20%;
}