<!-- There types of css
1. inline - document level has the highest priority
2. external 
3. internal -->

<!-- this is external css-->
<!-- class can be same for multiple tags-->
<!--                
tag selector 
id selector - using ash (#)
class selector - using dot(.)
multiple selector using comma (,) and writing multiple classes and ids together
universal selector  using star this selects all                     -->
p{
	color: green;
	text-align: right;

}
body{
	background-color: rgb(28, 70, 122);
	background-image: url("https://wallpaper-house.com/data/out/12/wallpaper2you_553678.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	color: white;
}
form{
	text-align: center;
}



#lit {
	background-color: red;
	font-size: 8em;
}

.one{
	font-size: 25px;
	line-height: 20px;
	font-family: "comic sans ms"
}

.two{
	word-spacing: 10px;
	font-style: italic;
	font-family: courier;
}

.three{
	letter-spacing: 5px;
	font-style: oblique;
	font-family: 'Wendy One', sans-serif;

}

.four{
	font-weight: 700;
}

.five{
	font-weight: bold;
	text-decoration: overline;
}

.six{
	font-weight: bolder;
	text-decoration: line-through;
}

.seven{
	font-weight: lighter;
	text-decoration: underline;
}
.a{

	overflow: scroll;

}