.bo1{
	border: 5px solid black;
}

.bo2{
	border-width: 12px;
	border-style: dotted;
	border-color: black;
	border-radius: 17px;
	padding: 20px 30px 40px 50px;
}
p{
	font-size: 20px;
	font-family: 'Shadows Into Light', cursive;
}

.bo3{
	border: 13px dashed red;
}
.bo4{
	border: 14px ridge orange;
}
.bo5{
	border: 19px groove purple;
	border-radius: 13px;
}
.bo6{
	border: 18px inset green;
}
.bo7{
	border: 17px outset coral;
}

.bor{
	border-top: 20px groove magenta;
	border-bottom: 12px ridge turquoise;
	border-left: 30px dotted brown;
	border-right: 8px inset lime;
	border-top-right-radius: 30px;
}

.bor2{
	border-width: 10px 20px 30px 40px;
	border-style: ridge dotted dashed groove;
	border-color: red blue green yellow;
}
.bor3{
	border-width: 10px 20px 30px;
	border-style: solid;
	border-color: black;
	margin: 30px 20px 10px 40px;
}
.bor4{
	border-width: 40px 10px;
	border-style: solid;
	border-color: black;
}

.d1{
	background-color: #eae315;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.d2{
	background-image: url("tardis.jpg");
	position: relative;
	left: 200px;
	right: 200px;
	overflow-x: scroll;
}

.d3{
	background-color: rgb(234, 123, 21);
	position: absolute;
	left: 200px;
	right: -200px;
	overflow: scroll;
}

.divi{
	background-color: #d410f2;
	overflow: auto;

}
